/* ==UserStyle==
@name           bluesky
@namespace      zperk13
@version        1.0.0
@author         zperk13
@homepageURL    https://github.com/zperk13/usercss
@supportURL     https://github.com/zperk13/usercss/issues
@preprocessor   less
==/UserStyle== */
@-moz-document domain("bsky.app") {
    @bg: #282828;
    @red_bg: #cc241d;
    @green_bg: #98971a;
    @yellow_bg: #d79921;
    @blue_bg: #458588;
    @purple_bg: #b16286;
    @aqua_bg: #689d6a;
    @gray_bg: #a89984;
    @gray_fg: #928374;
    @red_fg: #fb4934;
    @green_fg: #b8bb26;
    @yellow_fg: #fabd2f;
    @blue_fg: #83a598;
    @purple_fg: #d3869b;
    @aqua_fg: #8ec07c;
    @fg: #ebdbb2;
    @bg0: #282828;
    @bg1: #3c3836;
    @bg2: #504945;
    @bg3: #665c54;
    @bg4: #7c6f64;
    @gray: #928374;
    @orange_bg: #d65d0e;
    @fg4: #a89984;
    @fg3: #bdae93;
    @fg2: #d5c4a1;
    @fg1: #ebdbb2;
    @fg0: #fbf1c7;
    @orange_fg: #fe8019;
    
    *[style*="background-color: rgb(0, 0, 0)"], html, body {
        background-color: @bg !important;
    }
    
    *[style*="background-color: rgb(0, 106, 255)"] {
        background-color: @blue_bg !important;
    }
    
    *[style*="background-color: rgb(17, 24, 34)"], *[style*="background-color: rgb(25, 34, 46)"] {
        background-color: @bg1 !important;
    }
    
    *[style*="background-color: rgb(66, 145, 255)"],  {
        background-color: @blue_bg !important;
    }
    
    *[style*="color: rgb(0, 106, 255)"] {
        color: @blue_fg !important;
    }
    
    *[style*="color: rgb(255, 255, 255)"] {
        color: @fg !important;
    }
    
    *[style*="color: rgb(165, 178, 197)"] {
        color: @fg4 !important;
    }
    
    *[style*="border-color: rgb(35, 46, 62)"] {
       border-color: @bg4 !important;
    }
    
    *[style*="color: rgb(236, 72, 153)"] {
       color: @red_fg !important;
    }
    
    *[style*="color: rgb(102, 123, 153)"], *[style*="color: rgb(82, 101, 128)"] {
       color: @fg3 !important;
    }
    
    *[fill*="#FFFFFF"] {
        fill: @fg !important;
    }
    
    *[fill*="#ec4899"] {
        fill: @red_fg !important;
    }
    
    *[fill*="#667B99"] {
        fill: @fg3 !important;
    }
    
    *[fill*="#006AFF"] {
        fill: @blue_bg !important;
    }
    
    *[fill*="#A5B2C5"] {
        fill: @fg1 !important;
    }
    
    *[fill*="#405168"] {
        fill: @fg4 !important;
    }
}
