/* ==UserStyle==
@name           flatassembler
@namespace      zperk13
@version        1.1.1
@author         zperk13
@homepageURL    https://github.com/zperk13/usercss
@supportURL     https://github.com/zperk13/usercss/issues
@preprocessor   less
==/UserStyle== */
@-moz-document domain("flatassembler.net") {
    @bg: #282828;
    @red_bg: #cc241d;
    @green_bg: #98971a;
    @yellow_bg: #d79921;
    @blue_bg: #458588;
    @purple_bg: #b16286;
    @aqua_bg: #689d6a;
    @gray_bg: #a89984;
    @gray_fg: #928374;
    @red_fg: #fb4934;
    @green_fg: #b8bb26;
    @yellow_fg: #fabd2f;
    @blue_fg: #83a598;
    @purple_fg: #d3869b;
    @aqua_fg: #8ec07c;
    @fg: #ebdbb2;
    @bg0: #282828;
    @bg1: #3c3836;
    @bg2: #504945;
    @bg3: #665c54;
    @bg4: #7c6f64;
    @gray: #928374;
    @orange_bg: #d65d0e;
    @fg4: #a89984;
    @fg3: #bdae93;
    @fg2: #d5c4a1;
    @fg1: #ebdbb2;
    @fg0: #fbf1c7;
    @orange_fg: #fe8019;
    body {
        background-color: @bg;
        color: @fg;
    }
    .container {
        background-color: @bg1;
    }
    body, .container {
        width: 100vw !important;
        padding: 0;
        border: 0;
    }
    .maintitle, .largetext,  {
        color: @fg;
    }
    .mediumtext, td {
        color: @fg2;
    }
    .smalltext {
        color: @fg3;
    }
    a {
        color: @blue_fg !important;
    }
    .smallcode, code, td.row1, td.row2 {
        color: @fg;
        background: @bg;
    }
    .doctable {
        th, td {
            background: @bg;
        }
    }
}

