/* ==UserStyle==
@name           youtube
@namespace      zperk13
@version        1.2.4
@author         zperk13
@homepageURL    https://github.com/zperk13/usercss
@supportURL     https://github.com/zperk13/usercss/issues
@preprocessor   less
==/UserStyle== */
@-moz-document domain("youtube.com") {
    @bg: #282828;
    @red_bg: #cc241d;
    @green_bg: #98971a;
    @yellow_bg: #d79921;
    @blue_bg: #458588;
    @purple_bg: #b16286;
    @aqua_bg: #689d6a;
    @gray_bg: #a89984;
    @gray_fg: #928374;
    @red_fg: #fb4934;
    @green_fg: #b8bb26;
    @yellow_fg: #fabd2f;
    @blue_fg: #83a598;
    @purple_fg: #d3869b;
    @aqua_fg: #8ec07c;
    @fg: #ebdbb2;
    @bg0: #282828;
    @bg1: #3c3836;
    @bg2: #504945;
    @bg3: #665c54;
    @bg4: #7c6f64;
    @gray: #928374;
    @orange_bg: #d65d0e;
    @fg4: #a89984;
    @fg3: #bdae93;
    @fg2: #d5c4a1;
    @fg1: #ebdbb2;
    @fg0: #fbf1c7;
    @orange_fg: #fe8019;
    * {
        --yt-spec-raised-background: @bg;
        --yt-spec-base-background: @bg;
        --yt-spec-menu-background: @bg1;
        --yt-spec-additive-background: @bg1;
        --yt-spec-static-overlay-background-brand: @red_bg;
        --yt-spec-text-primary: @fg;
        --yt-spec-text-secondary: @fg2;
        --yt-spec-badge-chip-background: @bg1;
        --yt-spec-call-to-action: @blue_fg;
        --yt-spec-static-brand-red: @red_bg;
        --ytd-searchbox-background: @bg1;
        --ytd-searchbox-text-color: @fg;
        --ytd-searchbox-legacy-button-color: @bg2;
        --yt-live-chat-header-background-color: @bg2;
        --yt-live-chat-background-color: @bg2;
        --yt-live-chat-action-panel-background-color: @bg2;
        --yt-live-chat-primary-text-color: @fg1;
        --yt-live-chat-secondary-text-color: @fg2;
        --yt-emoji-picker-search-background-color: @bg3;
        --yt-emoji-picker-category-background-color: @bg2;
        --yt-emoji-picker-category-color: @fg;
        --yt-spec-icon-inactive: @fg;
        --yt-spec-icon-active-other: @fg2;
    }
    button[aria-label="Create"],
    button[aria-label="Notifications"],
    button[aria-label="Search with your voice"],
    button[aria-label="Guide"],
    button[aria-label="Next"],
    .ytp-chrome-bottom,
    .yt-emoji-picker-category-button-renderer,
    .navigation-button,
    .ytd-mini-guide-renderer,
    .YtdShortsSuggestedActionStaticHostLeadingIcon,
    .guide-icon,
    #actions,
    #top-row {
        span {
            color: @fg;
        }
        path {
            fill: @fg;
        }
    }

    a[title="YouTube Home"], a[title="YouTube Studio"], a[title="YouTube TV"], a[title="YouTube Music"], a[title="YouTube Kids"] {
        path {
            fill: @fg;
        }
        yt-icon {
            g:first-child {
                path, circle {
                    &:first-child {
                        fill: @red_bg;
                    }
                    &:last-child {
                        fill: @fg;
                    }
                }
            }
        }
    }

    #chat {
        border: 0px
    }

    #chatframe {
        border-radius: 0px;
    }

    .yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--filled.yt-spec-button-shape-next--filled, .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled, .yt-spec-button-shape-next--enable-backdrop-filter-experiment {
        color: @fg;
        background: @bg2;
        &:hover {
            background: @bg3;
        }
    }

    .yt-spec-button-shape-next--icon-button {
        background: transparent;
    }

    #reply-button-end, #more-replies {
        .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled, .yt-spec-button-shape-next--enable-backdrop-filter-experiment {
            background: transparent;
        }
    }


    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
        background: @bg1;
        &:hover {
            background: @bg2;
        }
    }

    .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text, .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--outline, {
        color: @blue_fg;
    }

    .yt-core-attributed-string--link-inherit-color { 
        /* Color is define in HTML style element for some reason so I need to use !important to override it */
        color: @fg !important;
        a {
            color: @blue_fg !important; 
        }
    }

    .yt-core-attributed-string,
    .yt-spec-button-shape-next__button-text-content,
    .YtCarouselTitleViewModelTitle,
    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text,
    .ShortsLockupViewModelHostOutsideMetadataEndpoint {
        color: @fg;
    }

    .yt-spec-button-shape-next--enable-backdrop-filter-experiment {
        background: transparent;
    }
    .YtVideoMetadataCarouselViewModelHost, .yt-spec-button-shape-next--call-to-action.yt-spec-button-shape-next--text:hover {
        background: @bg1;
    }

    .ytd-watch-flexy {
        border-radius: 0 !important;
    }

    .ytd-shorts, #masthead, #page-manager {
        background: @bg;
    }

    .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text:hover {
        background: @bg1
    }

    .ytp-cairo-refresh-signature-moments .ytp-play-progress,
    ytd-thumbnail-overlay-resume-playback-renderer[enable-refresh-signature-moments-web] #progress.ytd-thumbnail-overlay-resume-playback-renderer,
    .YtProgressBarLineProgressBarPlayedRefresh,
    .yt-spec-avatar-shape--cairo-refresh .yt-spec-avatar-shape__live-badge,
    .yt-spec-avatar-shape--cairo-refresh.yt-spec-avatar-shape--live-ring::after {
        background: @red_bg;
    }

    .ytp-volume-slider-handle {
        background: @fg;
        &::before {
            z-index: -1;
            background: @fg;
        }
        &::after {
            z-index: -1;
            background: @bg1;
        }
    }
}
